{% extends 'base.html.twig' %}

{% block body %}
<p>Nom : {{ wish.title }}</p>
    <p>Description : {{ wish.description }}</p>
    <p>Auteur : {{ wish.author }}</p>
    <p>Date de création : {{ wish.dateCreated | date('Y/m/d H:i:s') }}</p>
    <p>Catégorie : {{ wish.categorie.nom }}</p>
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

{% endblock %}

{% block title %}
Detail
{% endblock %}

